*{
  
  /* background-color: black; */
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
  gap: 24rem;
  grid-template-columns: 0.1fr 1fr ;
  /* grid-template-rows: auto auto; */
  flex-wrap: wrap;
  background-color: black;
  /* grid-template-rows: ; */
  /* height: 100vh; */
}
.Main_content {
 
  display: inline-flex;
  /* grid-template-columns: 3fr 1fr;
  grid-template-rows: 100vh 200px;  */
  flex-direction: column;
  border:  2px solid ;
  justify-content: center;
  gap: 25rem;
  align-items: center;
  width: -webkit-fill-available;
  height: fit-content;

  
}
@media (max-width:1064px) {
  .Main_content {
 
    display: inline-flex;
    /* grid-template-columns: 3fr 1fr;
    grid-template-rows: 100vh 200px;  */
    flex-direction: column;
    /* margin: 0; */
    /* border:  2px solid ; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
   
    
    
    
   
    
  }
  .App{
    gap: 2rem;
  }

}


